.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.pic{
  color:gold;
}

.subButton{
  background-color: gold;
  border-radius: 10px;
}

.mb-3{
  margin-right: 450px;
  margin-left: 450px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Head{
  background-color: black;
  padding-bottom: 60px;
  padding-top: 40px;
}
.yourName{
  outline-color:black;
  
  border-radius: 15px;

}
.yourEmail{

margin-left:25px;
outline-color:black;
  border-radius: 15px;
}

.yourPassword{
  outline-color:black;
  border-radius: 15px;

}



.title{
  color:gold;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
